@import "../style/colors";
@import "../style/media_mixins";
@import "../style/sizes";

.wrapper {
  min-height: 100vh;
  background-color: white;
  display: flex;
}

.sidebar {
  display: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $border_color;
  padding: 8px 12px 20px 12px;

  @include media-query(tablet) {
    display: block;
    min-width: $tablet_sidebar;
  }

  @include media-query(s_pc) {
    display: block;
    width: $desktop_sidebar;
  }

  @include media-query(m_pc) {
    display: block;
    width: $desktop_sidebar;
  }

  @include media-query(l_pc) {
    display: block;
    width: $desktop_sidebar;
  }

  @include media-query(xl_pc) {
    display: block;
    width: $desktop_sidebar;
  }
}

.content {
  padding: 32px 20px;
  font-size: 24px;
  font-weight: 700;
}

.inner {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-left: 15px;
  margin-top: 18px;
  display: none;

  @include media-query(s_pc) {
    display: block;
  }

  @include media-query(m_pc) {
    display: block;
  }

  @include media-query(l_pc) {
    display: block;
  }

  @include media-query(xl_pc) {
    display: block;
  }
}

.smallLogo {
  display: none;
  margin-top: 20px;

  @include media-query(tablet) {
    display: block;
  }
}
